
//content css starts here
.card-item{
    color:black;
    padding: 40px;
    height: 100px;
    margin-top: -20px;
    background-color: white;
    text-align: center;
    margin-left: 40px;
    border-radius: 30px;
    margin-inline: 20px;
}
.chip-item{
    width:90%;
    height:60px;
    padding-left: 90px;
    margin-left:20px;
    background-color: #f5f5f5;
}
//content css ends here