<ion-header [translucent]="true">
  <ion-toolbar class="head-item">
    <ion-title>
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <small>Good Morning</small>
            <h3>
              Farook Ali
            </h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <p style="padding-left:20px;"><b>Today's Sale</b></p>
  <ion-card class="card-item">
    <ion-row style="background-color: #eeecec;padding-top: 5px;">
      <ion-col size="6"><b>Revenue</b><br><b style="color: #006c35;">SAR 1,85,785.00</b>
      </ion-col>
      <ion-col size="6" style="text-align:right;"><b>Orders</b><br><b style="color: #006c35;">825</b>
      </ion-col>
    </ion-row><br>
    <ion-row>
      <ion-col class="ion-date">
        <ion-icon name="calendar-clear-outline"></ion-icon><label><small style="padding-left:10px;">25 May
            2022</small></label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-button class="chip-item" shape="round" color="light">
    <ion-label><b>Generated Revenue</b></ion-label>
  </ion-button><br><br>
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-icon name="chevron-back-outline" style="color:#006c35"></ion-icon>
    </ion-col>
    <ion-col style="text-align: center;">
      <label
        style="color:#006c35;font-size:larger;">April 2021</label>
    </ion-col>
    <ion-col style="text-align: center;">
      <ion-icon name="chevron-forward-outline" style="color:#006c35"></ion-icon>
    </ion-col>
  </ion-row>

</ion-content>