//header css starts from here
.head-item{
    background-color: #006c35;
    color:#ffff;
    height:200px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top:70px;
}
//header css ends here

//content css starts here
.card-item{
    background-color: #eeecec;
    width: 90%;
    padding: 5px;
    color: black;
    margin-right: 25px;
    box-shadow: 100px;
    box-shadow: 0 50px 8px 0 rgba(219, 211, 211, 0.2);
    border-radius: 30px;
}
.chip-item{
    width:90%;
    height:45px;
    text-align: center;
    margin-left:15px;
    background-color: #eeecec;
    margin-top: 30px;
    border-radius: 50px;
  
}
.ion-date{
  height:40px;
  padding-top: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  width:100px;
 
}



