.addinvoice span{
	color:var(--ion-color-plusprimary, #006C35);
	font-size:30px;
}
.searchbar-input.sc-ion-searchbar-md {
    border-radius: none !important;
    background-color: #000 !important;
}
label {
    color: #006C35;
}