<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-row>
      <!-- <ion-button slot="start">
        <ion-back-button [routerLink]="['/tab4']">back</ion-back-button>
      </ion-button> -->
      <ion-col size="2">
        <ion-icon [routerLink]="['/invoices']" name="arrow-back-outline"></ion-icon>
      </ion-col>

      <ion-col size="8" class="ion-text-center" routerDirection="forward">
        <h4 class="addinvoice">Add Invoices</h4>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar class="customer_search" placeholder="Search by invoice no & supplier name"></ion-searchbar> -->

  <ion-card style="margin: 0;">
    <!-- <ion-card-header style="text-align: center;">
      <ion-row>
        <ion-col size="6" style="text-align: -webkit-right;">
          <ion-input class="customdate" type="date" name="startDate" placeholder="startdate"></ion-input>
        </ion-col>
       
        <ion-col size="6">
          <ion-input class="customdate" type="date" name="endDate" placeholder="enddate"></ion-input>
        </ion-col>
      </ion-row>
      <ion-button style="height: 35px;">All</ion-button>
      <ion-button style="height: 35px;">Completed</ion-button>
      <ion-button style="height: 35px;">Pending</ion-button>
       <ion-card-subtitle>Card Subtitle</ion-card-subtitle> 
    </ion-card-header> -->
    <ion-card-content>
      <form method="post">
        <ion-list>
          <ion-item lines="none" *ngIf="assignedVendor == 'none'">
            <ion-label position="stacked">selectvendor <span class="asterisk">*</span><br>
              <ion-searchbar class="select_vendor" searchIcon="undefined" type="text" debounce="500"
                placeholder="Select Vendor" (ionChange)="getVendors($event)" (ionFocus)="checkFocus()"
                (ionBlur)="checkBlur()"></ion-searchbar></ion-label>


            <ion-item lines="none" *ngIf="assignedVendor != 'none'">
              {{assignedVendor}}
              <img src="../assets/images/close-circle.png" width="22" (click)="clearVendor()" slot="start" />
              <img src="../assets/images/person-add-outline.png" width="22" [routerLink]="['/addvendor']"
                routerDirection="forward" slot="end" />
            </ion-item>

            <ion-list *ngIf="isVendorAvailable">
              <ng-container *ngIf="vendors.length!=0">
                <ion-item *ngFor="let vendor of vendors">
                  <ion-row class="searchrow">
                    <ion-col size="8" class="alignment">
                      {{vendor.vendorName}}
                    </ion-col>
                    <ion-col size="4">
                      <ion-button class="btnadd" (click)="addVendor(vendor)" expand="block">Assign</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ng-container>
              <ng-container *ngIf="vendors.length==0">
                <ion-list class="ion-text-center">No Vendor<br>
                  <ion-button size="small" color="medium" [routerLink]="['/addvendor']" routerDirection="forward"
                    class="btnadd"><img src="../assets/images/bag-add-outline.png" width="22" slot="start" />Add Vendor
                  </ion-button>

                </ion-list>
              </ng-container>
            </ion-list>

          </ion-item>

          <ion-item>
            <ion-label position="floating">invoicenumber<span class="asterisk">*</span>
              <ion-input type="text" required name="invoiceNumber" [(ngModel)]="invoiceNumber"
                (ionChange)="checkRequired($event,'invoiceNumber');" (ionFocus)="checkFocus()"
                (ionBlur)="checkBlur()"></ion-input>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">invoicedate<span class="asterisk">*</span>
              <ion-input type="date" required ngModel name="invoiceDate"
                (ionChange)="checkRequired($event,'invoiceDate')" (ionChange)="checkRequired($event,'invoiceDate')"
                placeholder="startdate" displayFormat="DDDD MMM D, YYYY" min="2005" max="maxDate"></ion-input>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-searchbar searchIcon="" class="product_search" type="text" debounce="500"
              (ionChange)="getItems($event)" [(ngModel)]="searchText" name="searchText" (ionChange)="getItems($event)"
              [(ngModel)]="searchText" name="searchText" placeholder="Product" (ionFocus)="checkFocus()"
              (ionBlur)="checkBlur()"></ion-searchbar>
          </ion-item>

          <div *ngIf="isItemAvailable">
            <ng-container *ngIf="items.length!=0">
              <ion-item class="productlist" *ngFor="let item of (items)| slice:0:5; let i=index">
                <ion-row class="searchrow">
                  <ion-col size="2" class="imagealign">
                    <img src="" />
                  </ion-col>

                  <ion-col class="" size="6">
                    <p class="displaytext">{{item.name}} <small>({{item.barCode}})</small></p>
                    <!-- {{ 'PROFIT.cp' | translate }}: SAR <span class="primarycolor">{{item.costPrice | number: '1.2-2'}}</span>
                  | -->
                    Selling Price: SAR <span class="primarycolor">{{item.sellingPrice | number: '1.2-2'}}</span>
                    | <span class="primarycolor">{{item.inventory}}</span> in Stock
                  </ion-col>
                  <ion-col size="4">
                    <ion-button (click)="addToCart(item)" class="btnadd" expand="block">Add</ion-button>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="items.length==0">
              <ion-list class="ion-text-center">No product found<br>
                <ion-button size="small" color="medium" [routerLink]="['/addproduct']" routerDirection="forward"><img
                    src="../assets/images/bag-add-outline.png" width="22" slot="start" />Add Inventory </ion-button>

              </ion-list>
            </ng-container>
          </div>
          <div>
            <ion-row class="ion-padding borderbottom" *ngFor="let p of products">
              <!--<ion-col size="2">
                <span>1</span>
              </ion-col>-->
              <ion-col size="3">
                <span>{{p.name}}</span>
              </ion-col>
              <ion-col size="2" class="ion-text-center costinput">
                <span class="primarycolor"><ion-input (ionFocus)="env.tapEvent($event,'focus')"
                    (click)="env.tapEvent($event,'click')" (ionBlur)="env.blurEvent($event,'ionBlur')" type="number"
                    value="{{p.costPrice}}" (ionInput)="onChange(p,'cp',$event)" name="cp" min="0"
                    (keypress)="numberOnlyValidation($event)" (ionFocus)="checkFocus()"
                    (ionBlur)="checkBlur()"></ion-input></span>
              </ion-col>
              <ion-col size="2" class="ion-text-center costinput">
                <span><ion-input type="number" value="{{p.quantity}}" (ionFocus)="env.tapEvent($event,'focus')"
                    (click)="env.tapEvent($event,'click')" (ionBlur)="env.blurEvent($event,'ionBlur')"
                    (ionInput)="onChange(p,'qty',$event)" name="quantity" min="0"
                    (keypress)="numberOnlyValidation($event)" (ionFocus)="checkFocus()"
                    (ionBlur)="checkBlur()"></ion-input></span>
              </ion-col>
              <ion-col size="2" class="ion-text-center costinput">
                <span><ion-input type="date" value="" ngModel name="expiryDate"
                    (ionInput)="onChange(p,'expiryDate',$event)" placeholder="Expiry Date"
                    displayFormat="DDDD MMM D, YYYY" min="{{maxDate}}" max=""></ion-input></span>
              </ion-col>
              <ion-col size="2" class="ion-text-right">
                <span class="primarycolor">{{p.costPrice * p.quantity | number: '1.2-2'}}</span>
              </ion-col>

              <ion-col size="1" class="ion-text-center" (click)="deleteCartItem(p)">
                <img src="../assets/images/trash-outline.png" width="22" />
              </ion-col>
            </ion-row>


          </div>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-container *ngIf="selectedTab == 'Return'">
  <ion-item lines="none">
    <ion-searchbar searchIcon="" class="product_search" type="text" debounce="500" (ionChange)="getItemsRefund($event)"
      [(ngModel)]="searchTextRefund" name="searchTextRefund" placeholder="Products"
      (ionFocus)="checkFocus()" (ionBlur)="checkBlur()"></ion-searchbar>

  </ion-item>
  <div *ngIf="isItemAvailableRefund">
    <ng-container *ngIf="itemsrefund.length!=0">
      <ion-item class="productlist" *ngFor="let itemrefund of (itemsrefund)| slice:0:5; let i=index">
        <ion-row class="searchrow">
          <ion-col size="2" class="imagealign">
            <img src="" />
          </ion-col>

          <ion-col class="" size="6">
            <p class="displaytext">{{itemrefund.name}}<small>({{itemrefund.barCode}})</small></p>
            SAR <span class="primarycolor" *ngIf="env.APP_LANG == 'en'">{{itemrefund.sellingPrice | number:
              '1.2-2'}}</span>
            <span class="primarycolor" *ngIf="env.APP_LANG == 'ar'">{{env.languageParseNumbers(itemrefund.sellingPrice |
              number: '1.2-2')}}</span>
            | <span class="primarycolor">{{itemrefund.inventory}}</span> in Stock
          </ion-col>
          <ion-col size="4">
            <ion-button (click)="addToCartRefund(itemrefund)" class="btnadd" expand="block">Add</ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="items.length==0">
      <ion-list class="ion-text-center">No Product found<br>
        <ion-button size="small" color="medium" [routerLink]="['/addproduct']" routerDirection="forward"><img
            src="../assets/images/bag-add-outline.png" width="22" slot="start" />Add Inventory </ion-button>

      </ion-list>
    </ng-container>
  </div>
  <div class="divmargin">
    <ion-row class="ion-padding ion-margin greenback">
      <!--<ion-col size="2">
          <span>S.No</span>
        </ion-col>-->
      <ion-col size="4" class="">
        <span>Item Name</span>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <span>Cost Price</span>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <span>Quantity</span>
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <span>Total Amount</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding borderbottom" *ngFor="let p of productsRefund">
      <!--<ion-col size="2">
          <span>1</span>
        </ion-col>-->
      <ion-col size="4">
        <span>{{p.name}}</span>
      </ion-col>
      <ion-col size="2" class="ion-text-center costinput">
        <span class="primarycolor"><ion-input (ionFocus)="env.tapEvent($event,'focus')"
            (click)="env.tapEvent($event,'click')" (ionBlur)="env.blurEvent($event,'ionBlur')" type="number"
            value="{{p.sellingPrice}}" (ionInput)="onChangeRefund(p,'cp',$event)" name="cp" min="0"
            (keypress)="numberOnlyValidation($event)"></ion-input></span>
      </ion-col>
      <ion-col size="2" class="ion-text-center costinput">
        <span><ion-input type="number" value="{{p.quantity}}" (ionFocus)="env.tapEvent($event,'focus')"
            (click)="env.tapEvent($event,'click')" (ionBlur)="env.blurEvent($event,'ionBlur')"
            (ionInput)="onChangeRefund(p,'qty',$event)" name="quantity" min="0"
            (keypress)="numberOnlyValidation($event)"></ion-input></span>
      </ion-col>
      <ion-col size="3" class="ion-text-right">
        <span class="primarycolor">{{p.costPrice * p.quantity | number: '1.2-2'}}</span>
      </ion-col>
      <ion-col size="1" class="ion-text-center" (click)="deleteCartItemRefund(p)">
        <img src="../assets/images/trash-outline.png" width="22" />
      </ion-col>
    </ion-row>
  </div>
</ng-container>






<ion-footer class="bottom-footer">
  <ion-list lines="none">
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <p class="footer-font">Amount</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <p class="ion-text-right footer-font">SAR <span class="plusprimarycolor">{{(cartTotal - cartVat) -
            (cartTotalRefund - cartVatRefund)| number: '1.2-2'}}</span></p>
      </ion-col>
    </ion-row>
    <!--
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <p>{{ 'BILL.discount' | translate }}</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <p class="ion-text-right">SAR <span class="primarycolor">{{cartTotal - cartVat| number: '1.2-2'}}</span></p>
      </ion-col>
    </ion-row>
    -->
    <ion-row class="ion-padding-horizontal borderbottom">
      <ion-col size="6">
        <p class="footer-font">Vat Amount</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <p class="ion-text-right footer-font">SAR <span class="plusprimarycolor">{{cartVat - cartVatRefund | number: '1.2-2'}}</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="6">
        <p class="footer-font">Total Amount with VAT</p>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <p class="ion-text-right footer-font">SAR <span class="plusprimarycolor">{{cartTotal - cartTotalRefund | number: '1.2-2'}}</span></p>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" class="apply" color="" disabled *ngIf="requiredFields && invoiceSaveBtnenabled == true">Create Invoice</ion-button>
      <ion-button expand="block" class="apply" color="success"  *ngIf="!requiredFields ||invoiceSaveBtnenabled == false" disabled>Create Invoice</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="apply" disabled>Save</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>