<ion-header>
  <ion-toolbar>
    <ion-title>Add Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top">
    <ion-col size="1" class="back" [routerLink]="['/invoices']">
      <p><ion-icon name="chevron-back-outline"></ion-icon>Back</p>
    </ion-col>
  
    <ion-col size="5" class="addinvoice ion-padding-top">
      <span>Addinvoices</span>
    </ion-col>
  </ion-row>

  <div>
			
    <form method="post">
      
      <ion-row>
        <ion-col size="4">
      
        <ion-item lines="none">
          <ion-label position="stacked">selectvendor<span class="asterisk">*</span></ion-label>
          <ion-searchbar class="select_vendor" searchIcon="undefined" type="text" debounce="500" placeholder="selectvendor"></ion-searchbar>
        </ion-item>
        <ion-item lines="none">
          assignedVendor
          <img src="../assets/images/close-circle.png" width="22" slot="start" />
          <img src="../assets/images/person-add-outline.png" width="22" slot="end" />
        </ion-item>
        <ion-list>
          <ng-container>
            <ion-item>
              <ion-row class="searchrow">
                <ion-col size="8" class="alignment">
                  vendorName
                </ion-col>
                <ion-col size="4">
                  <ion-button class="btnadd" expand="block">assign</ion-button>
                </ion-col>
              </ion-row>
            </ion-item>
          </ng-container>
          <ng-container>
            <ion-list class="ion-text-center">novendor<br>
            <ion-button size="small" color="medium" routerDirection="forward" class="btnadd"><img src="../assets/images/bag-add-outline.png" width="22" slot="start" />addvendor</ion-button>
            
            </ion-list>
          </ng-container>
        </ion-list>
        </ion-col>
      
      
        <ion-col size="4">
        <ion-item>
          <ion-label position="floating">invoicenumber<span class="asterisk">*</span></ion-label>
          <ion-input type="text" required name="invoiceNumber"></ion-input>
        </ion-item>
        </ion-col>
        <ion-col size="4">
        <ion-item>
          <ion-label position="floating">invoicedate <span class="asterisk">*</span></ion-label>
          <ion-input type="date" required placeholder="startdate" displayFormat="DDDD MMM D, YYYY" min="2005"></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
      </form>
  </div>

</ion-content>
