<ion-content [fullscreen]="true" color="light">
	<div class="div-item">
	  <ion-row>
		<ion-col class="ion-text-center" style="padding-top: 5px;padding-right: 20px;">
		  <h2>Purchase</h2>
		</ion-col>
	  </ion-row>
	</div><br>
<!-- <div style="background-color: #f2efea; border:  5px solid #006C35; color: #285a27">
	<div>
		<ion-row>
		  <ion-col class="ion-text-center" style="text-align: center">
			<h1 style="font-size: 26px"><b>Dashboard</b></h1>
		  </ion-col>
		</ion-row>
	</div><br> -->
<!--
	<ion-card style="background-color: #d5e2c7">
		<form>
			<ion-grid style="padding-top:25px; padding-left: 10px; padding-right: 10px; ">
				<ion-item >
					<ion-label>
						<ion-icon name="person" style="padding-right: 20px;">
						</ion-icon>
					</ion-label>
					<ion-input type="text" name="firstname"  placeholder="First Name" required>
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-label>
						<ion-icon name="person" style="padding-right: 20px;" >
						</ion-icon>
					</ion-label>
					<ion-input type="text" name="lastname" placeholder="Last Name" required>
					</ion-input>
				</ion-item>
				<ion-item>
					<ion-label>  
						<ion-icon name="mail" style="padding-right: 20px;">
						</ion-icon>
					</ion-label>
					<ion-input type="email" placeholder="Email" required></ion-input>
				</ion-item>
				<ion-radio-group>
					<ion-header style="padding:15px; float:center">
						<ion-label style="font-size: 20px;color: #000; padding:15px;text-align: center ; margin-left: 80px;"><b>Language</b></ion-label>
					</ion-header>
					<ion-item>
						<ion-label>English</ion-label>
						<ion-radio  mode="md" slot="start" value="english"   checked></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>Arabic</ion-label>
						<ion-radio mode="md" slot="start" value="arabic"></ion-radio>
					</ion-item>
				</ion-radio-group>	
			</ion-grid>
			
			<ion-button  role="button" shape="round" style="font-size: 14px; margin-left: 70px; margin-top: 10px; margin-bottom: 20px;">
			OK
			</ion-button>
			<ion-button  role="button" shape="round" style="font-size: 14px; margin-left: 10px; margin-top: 10px; margin-bottom: 20px;" >
			CANCEL
			</ion-button>	
		</form>
	</ion-card>
	-->

	<!-- <div style="border: 5px solid #006C35; border-left:none; border-right:none; border-bottom:none; color: #4c6748; padding-top: 0; text-align: end">	
		<ion-row>
			<ion-col style="padding-right: 0px"> -->
			<!--<div id="salesChart" style="width: 100vw; margin:  "></div> -->
				<!-- <span style="border: 2px solid #006C35;color: #2d5c32; border-top: 0px; border-right: 0px; margin-top: 0px; padding-top: 8px; font-size: 15px; border-bottom: 2px solid #006C35; text-align: center"><b>This Month</b></span>
				<ion-img src="../assets/images/graph2.jpg" alt="Graph" style="margin-top: 3px"></ion-img>
			</ion-col>
		</ion-row>
	</div>

	<div style="border: 5px solid #006C35; border-left:none; border-right:none; border-bottom:none">	
		<ion-row>
			<ion-col size="6" style="padding-top: 0; padding-left: 0">
				<h6 style="border: 3px solid #006C35; border-top: 0px;border-left: 0px; margin-top: 0px;
					padding-bottom: 10px;padding-left: 15px; padding-top: 8px; font-size: 15px"><b>Payment Methods</b></h6>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="6">
				<ion-img src="../assets/images/dollar.jpg" alt="Cash SAR" style="width: 138px; padding-left: 42px; padding-top: 6px"></ion-img>
				<p style=" padding-top: 8px; color: #2b6034; padding-left: 37px; font-size: 15px"><b>CASH-SAR 700</b></p>
			</ion-col>
			<ion-col size="6" style=" width: 110px; padding-bottom: 18px; padding-left: 32px">
				<ion-img src="../assets/images/card.jpg" alt="Card" style="width: 109px"></ion-img>
				<p style="color: #2b6034; padding-top: 2px; font-size: 15px "><b>CARD-SAR 1,300</b></p>
			</ion-col>
		</ion-row>
	</div>	

	<div style="border: 5px solid #006C35;border-left:none; border-right:none; color: #27622c">	
		<ion-row>
			<ion-col size="6" style="padding-top: 0; padding-left: 0; padding-bottom: 0px">
				<h6 style="border: 3px solid #006C35; color: #27622c; border-top: 0px;border-left: 0px; margin-top: 0px;
					padding-bottom: 10px; padding-left: 8px;padding-top: 10px; font-size: 15px"><b>Top Selling Products</b>
				</h6>
			</ion-col>
		</ion-row>
	</div>

	<div class="ion-text-center " style=" border: 4px solid #006C35; color: #27622c; border-top: 0px; border-left: 0px; border-bottom: 0px; border-right: 0px">  
			<ion-row class="header-row " style="border: 1px solid #006C35; border-top: 0px" >
				<ion-col size="4" style="border-bottom: 3px solid #006C35; font-size: 15px">
					<ion-text><b>Product Name</b></ion-text>
				</ion-col>
				<ion-col size="3" style="border-bottom: 3px solid #006C35; font-size: 15px">
					<ion-text style=""><b>Qty Sold</b></ion-text>
				</ion-col>
				<ion-col size="5" style="border-bottom: 3px solid #006C35; font-size: 15px">
					<ion-text><b>Revenue Generated</b></ion-text>
				</ion-col>
			</ion-row>
			<ion-row >
				<ion-col style=" text-align: left; font-size: 14px" >
					<ion-text>
						<p><b>1. Takoyaki</b></p>
					</ion-text>
					<ion-text>
						<p><b>2. Hasukhi</b></p>
					</ion-text>
					<ion-text>
						<p><b>3. Ramen</b></p>
					</ion-text>
					<ion-text>
						<p><b>4. Dark Matter</b></p>
					</ion-text>
					<ion-text>
						<p><b>5. Void</b></p>
					</ion-text>
				</ion-col>
				<ion-col style="font-size: 14px">
					<ion-text>
						<p><b>50</b></p>
					</ion-text>
					<ion-text>
						<p><b>43</b></p>
					</ion-text>
					<ion-text>
						<p><b>37</b></p>
					</ion-text>
					<ion-text>
						<p><b>25</b></p>
					</ion-text>
					<ion-text>
						<p><b>19</b></p>
					</ion-text>
				</ion-col>
				<ion-col style="font-size: 14px">
					  <ion-text>
						<p><b>SAR 300</b></p>
					  </ion-text>
					   <ion-text>
						<p><b>SAR 265</b></p>
					  </ion-text>
					   <ion-text>
						<p><b>SAR 200</b></p>
					  </ion-text>
					  <ion-text>
						<p><b>SAR 170</b></p>
					  </ion-text>
					  <ion-text>
						<p><b>SAR 149</b></p>
					  </ion-text>
				</ion-col>	
			</ion-row>
	</div>
</div> -->



<ion-row class="ion-margin-vertical" >
	<div [routerLink]="['/invoices']" class="greyclr">Invoices</div>		
	<div class="greyclr">Vendors</div>
	<div class="greyclr">Vendor List</div>	
</ion-row>
	
</ion-content>


