//div css starts from here
.div-item {
    background-color: #006c35;
    color:#fff;
    height:18vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top:30px;
}
//div css ends here

.greyclr
{
	background: #006C35;
    color: #fff;
	padding:40px 10px;
	width:46%;
	margin-right:2%;
	margin-left:2%;
	margin-bottom:10px;
	border-radius:10px;
	text-align:center;
	font-size:22px;
}
