<ion-content>
	<!--
	<div id="header">
		<img src="../assets/images/tijarah-logo.png" />
	</div>	
	-->
	<div class="border">
		<h2 id="login">Sign In</h2>
		<h5>{{message}}</h5>
		<br><br>
		<form #form="ngForm" (ngSubmit)="login(form)" method="post">
			<ion-label>Contact Number</ion-label>

			<ion-item class="contactno">			
				<span class="phoneicon">+966 -</span>
				<ion-input autofocus="true" type="tel" ngModel name="contactNumber" maxlength="9" slot="" (keyup.enter)="login(form)" class="contactno"></ion-input>
			</ion-item>

			<br>
			<ion-label>Password</ion-label>
			<ion-item>
				<img src="../assets/images/eye-off-outline-green.png" class="eyeicon show-option" (click)="toggleShow()" [hidden]="showPassword" width="22" />
		<img (click)="toggleShow()" class="eyeicon hide-option"  src="../assets/images/eye-outline-green.png" [hidden]="!showPassword" width="22" />
		<ion-input #showHidePassword ngModel  type="password" name="password" slot="" (keyup.enter)="login(form)"></ion-input>
				
			</ion-item>
			<div style="text-align: center; width: 200px; margin: 0 auto;">
				<ion-button type="submit" expand="block" class="apply" style="background-color: #003a02l;">
					<p>Login</p>
				</ion-button>
			</div>
			<!-- <div>
				<ion-button type="submit" expand="block" class="apply" shape="round"> 
					<p>LOGIN</p>
					<img src="../assets/images/log-in-outline-green.png" class="login" width="20" />
				</ion-button>
					<a href="#" class="forgot">Forgot password?</a>
					<a href="#">Reset here</a>

			</div> -->
		</form>	
	</div>	
</ion-content>
