<ion-content>
	<!--
	<div id="header">
		<img src="../assets/images/tijarah-logo.png" />
	</div>	
	-->
	<div class="border">
		<h2 id="login">Sign In</h2>
		<h5>{{message}}</h5>
		<br><br>
		<form #form="ngForm" (ngSubmit)="login(form)" method="post">
			<ion-label>Contact Number</ion-label>

			<ion-item class="contactno">			
				<ion-input autofocus="true" ngModel type="tel" name="contactNumber" placeholder="Enter Contact Number" maxlength="9" slot="" (keyup.enter)="login(form)" class="" required></ion-input>
			</ion-item>

			<br>
			<ion-label>Password</ion-label>
			<ion-item>
				<ion-input #showHidePassword ngModel type="password" name="password"  placeholder="Password" slot="" (keyup.enter)="login(form)" required></ion-input>

				<img src="../assets/images/eye-off-outline-green.png" class="eyeicon show-option" (click)="toggleShow()" [hidden]="showPassword" width="22" />
				<img (click)="toggleShow()" class="eyeicon hide-option"  src="../assets/images/eye-outline-green.png" [hidden]="!showPassword" width="22" />
				
			</ion-item>

			<div>
				<ion-button type="submit" expand="block" class="apply" shape="round"> 
					<p>LOGIN</p>
					<!-- <img src="../assets/images/log-in-outline-green.png" class="login" width="20" /> -->
				</ion-button>
					<a href="#" class="forgot">Forgot password?</a>
					<a href="#">Reset here</a>

			</div>
		</form>	
	</div>	
</ion-content>
