//header css starts from here
.head-item{
    background-color: #006c35;
    color:#ffff;
    height:18vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 5vh;
    padding-left: 30px;
}
//header css ends here

//content css starts here
.card-item{
    background-color: #eeecec;
    width: 90%;
    padding-left: 5px;
    color: black;
    margin-right: 25px;
    box-shadow: 100px;
    box-shadow: 0 45px 8px 0 rgba(226, 214, 214, 0.2);
    border-radius: 30px;
    padding-top: 5px;
    padding-right: 5px;
    margin-left: 20px;
}
.chip-item{
    width:85%;
    height:45px;
    text-align: center;
    margin-left:30px;
    background-color: #eeecec;
    margin-top: 30px;
    border-radius: 50px;
  
}
.ion-date{
  height:40px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  width:100px;
 border-radius: 20px;
}



