<ion-content [fullscreen]="true">
  <ion-grid *ngIf = "this.env.APP_USER_ID != null && this.env.APP_USER_ID != ''" class="head-item">
    <ion-label [routerLink]="['/settings']" routerDirection="forward">Settings</ion-label>
	<ion-row>
      <ion-col>
        <div>
          <small>Welcome</small>
          <h3>
            {{env.display_name}}
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p *ngIf = "this.env.APP_USER_ID != null && this.env.APP_USER_ID != ''" style="margin-left:30px;"><b>Today's Sale</b></p>
  <ion-card *ngIf = "this.env.APP_USER_ID != null && this.env.APP_USER_ID != ''" class="card-item">
    <ion-row>
      <ion-col size="6"><b>Revenue</b><br><b style="color: #006c35;">SAR 1,85,785.00</b>
      </ion-col>
      <ion-col size="6" class="ion-text-end"><b>Orders</b><br><b style="color: #006c35;">825</b>
      </ion-col>
    </ion-row><br>
    <ion-row>
      <ion-col class="ion-date">
        <ion-icon name="calendar-clear-outline"></ion-icon><label><small style="padding-left:10px;">31 May 2022</small></label>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-button *ngIf = "this.env.APP_USER_ID != null && this.env.APP_USER_ID != ''" class="chip-item" shape="round" color="light">
    <ion-label><b>Generated Revenue</b></ion-label>
  </ion-button><br><br>

 <ion-row>
	<div id="salesChart" style="width: 100vw; margin: 10px auto"></div>
  </ion-row>
</ion-content>