//div css starts from here
.div-item {
    background-color: #006c35;
    color:#fff;
    height:18vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top:30px;
}
//div css ends here
//card css starts here
.card-item {
    height: 13vh;
   padding-bottom:20px;
   text-align: left;
}
.greenback{
	background:var(--ion-color-plusprimary, #006C35);
	border-radius:8px 8px 0 0;
	padding: 0 10px;
    color: #fff;
}

.edit-button {
   text-transform: capitalize;
   font-size: 14px;
}

.add-button {
    text-transform: capitalize;
   font-size: 14px;
   margin-top: 10px;
}

ion-item {
    --padding-start: 0;
    margin-bottom: 20px
  }

.barcode {
    color: #000;
}

.products-list {
    margin-inline: 0;
}