<ion-content [fullscreen]="true" color="light">
  <div class="div-item">
    <ion-row>
      <ion-col class="ion-text-center" style="padding-top: 5px;padding-right: 20px;">
        <h2>Inventory</h2>
      </ion-col>
    </ion-row>
  </div><br>
  <ion-searchbar placeholder="Search Items"></ion-searchbar>
  
    <ion-row class="greenback">
      <!-- <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/personalcare.jpg" style="padding-top: 30px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 14px;line-height: 32px;font-size: 15px;padding-top: 10px;">
       <b>Beauty Products</b><br>
        12345678<br>
        Inv:100/10
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col> -->

      <ion-col size="8">
        <p>Product Name <span class="leftborder">&nbsp;Brand </span><span class="leftborder">&nbsp;Barcode</span></p>
      </ion-col>
      <ion-col size="4" ion-text-center>
        <p>Edit Products</p>
      </ion-col>


    </ion-row>


  <ion-card class="card-item" *ngFor="let productList of productsList">
    <ion-row>
     <!--  <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/oliveoil.jpg" style="padding-top: 20px;">
      </ion-col> -->
      <!-- <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Olive Oil</b><br>
        45826598<br>
        Inv:225/42
      </ion-col> -->
      <ion-col size="8" class="verticalalign" routerDirection="forward" >
        <p class="displaytext">{{productList.name}}</p><br/>
        <p class="displaytext"><span class="barcode">{{productList.barCode}}</span>      
        </p>										
      </ion-col>

      <ion-col size="4" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-card>

  <!-- <ion-card class="card-item">
    <ion-row>
      <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/fries.jpg" style="padding-top: 8px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Frozen Fries</b><br>
        457623586<br>
        Inv:150/85
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline"style="zoom:2.0;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- <ion-card class="card-item">
    <ion-row>
      <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/almondoil.jpg" style="padding-top: 15px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Almond Oil</b><br>
        32165485<br>
        Inv:220/37
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card> -->

 <!--  <ion-card class="card-item">
    <ion-row>
      <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/multi.jpg" style="padding-top: 20px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Multigrain Flour</b><br>
        58974561<br>
        Inv:400/35
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- <ion-card class="card-item">
    <ion-row>
      <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/handwash.jpg" style="padding-top: 20px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Hand Wash</b><br>
        74125635<br>
        Inv:200/50
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <!-- <ion-card class="card-item">
    <ion-row>
      <ion-col size="3" style="border-right:solid 1px;border-color: #cdcdcd;">
        <img src="../assets/images/almondoil.jpg" style="padding-top: 15px;">
      </ion-col>
      <ion-col size="7" style="padding-left: 20px;line-height: 30px;font-size: 15px;padding-top: 10px;">
        <b>Almond Oil</b><br>
        96583214<br>
        Inv:55/6
      </ion-col>
      <ion-col size="2" style="padding-top: 40px;">
        <ion-icon name="create-outline" style="zoom:2.0;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card> -->
</ion-content> 