.viewinvoice {
    margin-left: 10px;
	color: #006C35;
    font-size: 24px;
}
.input-field {
    width: 160px;
    height: 25px;
    display: block;
    width: 100%;
    /* margin-top: 20px; */
    --padding-start: 10px !important;
    font-weight: 400;
    line-height: 1.5 !important;
    color: #212529;
    border: 1px solid var(--ion-color-dark, #000);
    border-radius: 0.25rem;
}
.grid-row {
    margin-top: 15px;
}
.text-color {
    color: #000;
    /* font-weight: 600; */
}
.card {
    padding: 10px;
    margin: 0;
}
.plusborderbottom {
border-bottom: 1px solid var(--ion-color-plusprimary, #006C35);
}
.apply {
    color: #fff;
    font-weight: bold;
}
.row-headingplus {
background: var(--ion-color-plusprimary, #006C35);
font-size: 14px;
color: var(--ion-color-plusprimary-contrast, #ffffff);
padding: 4px 16px;
}