<ion-header [translucent]="true"> 
  <ion-toolbar>
    
    <ion-row>
      <ion-col size="2">
        
      </ion-col>	
            
      <ion-col size="8" class="ion-text-center" routerDirection="forward">
        			
      </ion-col>	
      <ion-col size="2" class="ion-text-center">
        <ion-button mode="ios" class="addinvoice" [routerLink]="['/addinvoice']"routerDirection="forward">
          <ion-icon name="add-circle"></ion-icon> 
          Add Invoice
        </ion-button>
      </ion-col>	
      
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding-horizontal ion-padding-top md hydrated">
    <ion-col size="7" class="purchaseorder">
      <span>{{ 'INVOICE.invoice' | translate }}</span>
    </ion-col>
    <ion-col size="4">
      <ion-searchbar class="customer-search rounded-3" placeholder="{{ 'INVOICE.searchbyinvoiceno' | translate }}"></ion-searchbar>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  
    <ion-grid class="ion-margin-horizontal po-details">
      <ion-row class="customdate">		
        <ion-col size="7" class="verticalalign">	
          <div class="potabs">
            <div class="{{selectedTab}}_selected">
              <p class="selected">{{ 'INVOICE.all' | translate }}</p>
            </div>
            <div>
              <p>{{ 'INVOICE.completed' | translate }}</p>
            </div>
            <div>
              <p>{{ 'INVOICE.pending' | translate }}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size="2">
					<ion-input type="date" name="startDate" placeholder=""></ion-input>
				</ion-col>
				<ion-col size="2">
					<ion-input type="date" placeholder=""></ion-input>
				</ion-col>
        <ion-button class="ok_btn" size="small">Ok</ion-button>
			</ion-row>

      <ion-row  class="horizontalpadding">	
				<ng-container>
					<ion-col size="12" class="ion-no-padding ion-padding-top">	
						<ion-row class="greenback ion-padding-horizontal">
							<ion-col size="2" >
								<p>{{ 'INVOICE.invoicedate' | translate }}</p>
							</ion-col>
							<ion-col size="2" >
								<p>{{ 'INVOICE.invoicenumber' | translate }}</p>
							</ion-col>
							<ion-col size="2" >
								<p>{{ 'INVOICE.vendorname' | translate }}</p>
							</ion-col>
							<ion-col size="2" >
								<p>{{ 'INVOICE.contactnumber' | translate }}</p>
							</ion-col>
							<ion-col size="2">
								<p>{{ 'INVOICE.status' | translate }}</p>
							</ion-col>
							<ion-col size="2"></ion-col>
						</ion-row>
					</ion-col>

          <ion-col size="12" class="ion-no-padding">							
						<div class="poborder">
							<ion-row class="ion-padding-horizontal borderbottom">
								<ion-col size="2"  >
									<p>2023-01-19</p>
								</ion-col>
								<ion-col size="2" >
									<p>215487</p>
								</ion-col>
								<ion-col size="2" >
									<p>jp</p>
								</ion-col>
								<ion-col size="2" >
									<p>22335544</p>
								</ion-col>
								<ion-col size="2">
									<p>Complete</p>
								</ion-col>
                <ng-container>
                  <ion-col size="2">
                    <!--
                    <ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" (click)="env.sound()"  expand="block" class="plusedit" [routerLink]="['/', 'invoicedetail', purchaseorder.id]" routerDirection="forward">
                      <img src="../assets/images/open-outline.png" class="edit_btn" slot="end" width="20" />
                    </ion-button>-->
                    <ion-button [routerLink]="['/editinvoice']" routerDirection="forward" mode="ios" class="quick_finish">
                      {{ 'INVOICE.edit' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon> 
                    </ion-button>	
                  </ion-col>	
                </ng-container>
              </ion-row>
            </div>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">							
						<div class="poborder">
							<ion-row class="ion-padding-horizontal borderbottom">
								<ion-col size="2"  >
									<p>2023-01-19</p>
								</ion-col>
								<ion-col size="2" >
									<p>875421</p>
								</ion-col>
								<ion-col size="2" >
									<p>jp</p>
								</ion-col>
								<ion-col size="2" >
									<p>22335544</p>
								</ion-col>
								<ion-col size="2">
									<p>Complete</p>
								</ion-col>
                <ng-container>
                  <ion-col size="2">
                    <!--
                    <ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" (click)="env.sound()"  expand="block" class="plusedit" [routerLink]="['/', 'invoicedetail', purchaseorder.id]" routerDirection="forward">
                      <img src="../assets/images/open-outline.png" class="edit_btn" slot="end" width="20" />
                    </ion-button>-->
                    <ion-button [routerLink]="['/editinvoice']" routerDirection="forward" mode="ios" class="quick_finish">
                      {{ 'INVOICE.edit' | translate }}<ion-icon name="chevron-forward-outline"></ion-icon> 
                    </ion-button>	
                  </ion-col>	
                </ng-container>
              </ion-row>
            </div>
          </ion-col>
          
        </ng-container>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="row-headingplus">
    <ion-col size="4" class="ion-text-left"><b>Total Amount Without VAT</b><br>SAR 232,072.08</ion-col>
    <ion-col size="4" class="ion-text-center"><b>Total Paid Tax</b><br>SAR 0.00</ion-col>
    <ion-col size="4" class="ion-text-right"><b>Total Amount with VAT</b><br>0.00</ion-col>
  </ion-row>
</ion-footer>
