<ion-header [translucent]="true"> 
  <ion-toolbar>
    
    <ion-row>
     
      <ion-col size="2">
        <ion-icon [routerLink]="['/tabs/tab4']" name="arrow-back-outline"></ion-icon>
      </ion-col>	
            
      <ion-col size="8" class="ion-text-center" routerDirection="forward">
        			<h4 class="invoice">Invoices</h4>
      </ion-col>	
      <ion-col size="2" class="ion-text-center">
        
          <ion-fab-button class="add-invoice-btn">
            <ion-icon name="add" [routerLink]="['/addinvoice']"></ion-icon>
          </ion-fab-button>
        
      </ion-col>	
      
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar  mode="ios" #searchInvoices searchIcon="undefined" class="customer_search" placeholder="Search by invoice no & supplier name" (ionChange)="getItems($event)"></ion-searchbar>

  <ion-card style="margin: 0;">
    <ion-card-header style="text-align: center;">
      <ion-row>
        <ion-col size="6" style="text-align: -webkit-right;">
          <ion-input class="customdate" type="date" name="startDate" placeholder="startdate"></ion-input>
        </ion-col>
       
        <ion-col size="6">
          <ion-input class="customdate" type="date" name="endDate" placeholder="enddate"></ion-input>
        </ion-col>
      </ion-row>
     <!--  <ion-button style="height: 35px;">All</ion-button>
      <ion-button style="height: 35px;">Completed</ion-button>
      <ion-button style="height: 35px;">Pending</ion-button> -->
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-row>
        <ion-col size="7" class="verticalalign">	
					<div class="potabs" *ngIf="!btnDisabled">
						<div class="{{selectedTab}}_selected" (click)="switchTab('All')">
							<p>{{ 'INVOICE.all' | translate }}</p>
						</div>
						<div class="{{selectedTab}}_selected" (click)="switchTab('Complete')">
							<p>{{ 'INVOICE.completed' | translate }}</p>
						</div>
						<div class="{{selectedTab}}_selected" (click)="switchTab('Pending')">
							<p>{{ 'INVOICE.pending' | translate }}</p>
						</div>
					</div>
					<div class="potabs" *ngIf="btnDisabled">
						<div class="{{selectedTab}}_selected">
							<p>{{ 'INVOICE.all' | translate }}</p>
						</div>
						<div class="{{selectedTab}}_selected">
							<p>{{ 'INVOICE.completed' | translate }}</p>
						</div>
						<div class="{{selectedTab}}_selected">
							<p>{{ 'INVOICE.pending' | translate }}</p>
						</div>
					</div>
				</ion-col>
      </ion-row>





    </ion-card-header>
    <ion-card-content style="padding: 0;">
      <ion-row>
        <ng-container *ngIf="selectedTab == 'All'">
					<div class="poborder">
            <ion-row class="ion-padding-horizontal borderbottom" *ngFor="let purchaseorder of (invoices)">
              <ion-col size="2"  >
                <p>{{purchaseorder.invoiceDate | date:'dd-MMM-YYYY'}}</p>
              </ion-col>
              <ion-col size="2" >
                <p>{{purchaseorder.invoiceNumber}}</p>
              </ion-col>
              <ion-col size="2" >
                <p>{{purchaseorder.vendorName}}</p>
              </ion-col>
              <ion-col size="2" >
                <p>{{env.languageParseNumbers(purchaseorder.contactNumber)}}</p>
              </ion-col>
              <ion-col size="2">
                <p *ngIf="env.APP_LANG == 'en'">{{purchaseorder.status}}</p>
                <p *ngIf="env.APP_LANG == 'ar'">
                  <span *ngIf="purchaseorder.status == 'Complete'">المنتج</span>
                  <span *ngIf="purchaseorder.status == 'Pending'">المعلقة</span>
                </p>
              </ion-col>
              
              <ng-container *ngIf="purchaseorder.status == 'Complete'">
                <ion-col size="2">
                  <ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" [routerLink]="['/', 'invoicedetail', purchaseorder.id]" routerDirection="forward" mode="ios" class="quick_finish">
                    {{ 'INVOICE.view' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
                  </ion-button>	
                </ion-col>	
              </ng-container>
              <ng-container *ngIf="purchaseorder.status == 'Pending'">
                <ion-col size="1">
    
                  <ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'"  mode="ios" class="quick_finish" color="primary" [routerLink]="['/', 'editinvoice', purchaseorder.id]" routerDirection="forward">
                    {{ 'INVOICE.edit' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
                  </ion-button>	
                  
                </ion-col>	
                	
              </ng-container>
            </ion-row>
            <ion-infinite-scroll #IonInfiniteScroll threshold="100px" (ionInfinite)="loadData('paging', $event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>	
          </div>
        </ng-container>

        <ng-container *ngIf="selectedTab == 'Complete'">
				
					<ion-col size="12" class="ion-no-padding">							
						<div class="poborder">
							<ion-row class="ion-padding-horizontal borderbottom" *ngFor="let purchaseorder of (invoices)">
								<ion-col size="2">
									<p>{{purchaseorder.invoiceDate | date:'dd-MMM-YYYY'}}</p>
								</ion-col>
								<ion-col size="2" >
									<p>{{purchaseorder.invoiceNumber}}</p>
								</ion-col>
								<ion-col size="3" >
									<p>{{purchaseorder.vendorName}}</p>
								</ion-col>
								<ion-col size="2" >
									<p>{{env.languageParseNumbers(purchaseorder.contactNumber)}}</p>
								</ion-col>
								<ion-col size="2">
									<p>{{purchaseorder.status}}</p>
								</ion-col>	
								<ion-col size="1">	
									<!--
									<ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" (click)="env.sound()"  expand="block" class="plusedit" [routerLink]="['/', 'invoicedetail', purchaseorder.id]" routerDirection="forward">
										<img src="../assets/images/open-outline.png" class="edit_btn" slot="end" width="20" />
									</ion-button>-->	
									<!--<ion-button mode="ios" class="quick_finish">
											{{ 'PO.quickfinish' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
									</ion-button>-->
									<ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" [routerLink]="['/', 'invoicedetail', purchaseorder.id]" routerDirection="forward" mode="ios" class="quick_finish">
											{{ 'INVOICE.view' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
									</ion-button>
								</ion-col>									
							</ion-row>
						</div>
					</ion-col>
					<ion-infinite-scroll #IonInfiniteScroll threshold="100px" (ionInfinite)="loadData('paging', $event)">
						<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
					</ion-infinite-scroll>
				</ng-container>	

        <ng-container *ngIf="selectedTab == 'Pending'">
					<ion-col size="12" class="ion-no-padding">							
						<div class="poborder">
							
								<ion-row class="ion-padding-horizontal borderbottom" *ngFor="let purchaseorder of (invoices)">
									<ion-col size="2" >
										<p>{{purchaseorder.invoiceDate | date:'dd-MMM-YYYY'}}</p>
									</ion-col>
									<ion-col size="2" >
										<p>{{purchaseorder.invoiceNumber}}</p>
									</ion-col>
									<ion-col size="3" >
										<p>{{purchaseorder.vendorName}}</p>
									</ion-col>
									<ion-col size="2" >
										<p>{{env.languageParseNumbers(purchaseorder.contactNumber)}}</p>
									</ion-col>
									<ion-col size="2">
										<p *ngIf="env.APP_LANG == 'en'">{{purchaseorder.status}}</p>
										<p *ngIf="env.APP_LANG == 'ar'">
											<span purchaseorder.status = 'Pending'>معلقة</span>
										</p>
									
									</ion-col>	
									<ion-col size="1">
										<!--
										<ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" (click)="env.sound()"  expand="block" class="plusedit" [routerLink]="['/', 'editinvoice', purchaseorder.id]" routerDirection="forward">
											<img src="../assets/images/create.png" class="edit_btn" slot="end" width="20" />
										</ion-button>-->
										<!-- <ion-button mode="ios" class="quick_finish">
											{{ 'PO.quickfinish' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
										</ion-button>-->
										<ion-button *ngIf = "this.env.NETWORK_STATUS == 'Online'" mode="ios" class="quick_finish" color="primary" [routerLink]="['/', 'editinvoice', purchaseorder.id]" routerDirection="forward">
											{{ 'INVOICE.edit' | translate }} <ion-icon name="chevron-forward-outline"></ion-icon> 
										</ion-button>
									</ion-col>							
							</ion-row>						
							
						</div>
					</ion-col>
          <ion-infinite-scroll #IonInfiniteScroll threshold="100px" (ionInfinite)="loadData('paging', $event)">
						<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
					</ion-infinite-scroll>

				</ng-container>	

      </ion-row>

      <!-- <ion-list>
        <ion-item>
          <ion-label><b style="font-size: 14px;">23453</b><br><span style="font-size: 10px;">2022-12-28</span></ion-label>
          <ion-label style="text-align: right; margin: 0;"><b style="font-size: 14px;">Test Vendor</b><br><span style="font-size: 10px;">+1-2345-678-90</span></ion-label>
          <ion-label style="text-align: right;">
            <ion-icon name="eye-outline" class="icon"></ion-icon>
          </ion-label>
         
        </ion-item>
  
        <ion-item>
          <ion-label><b style="font-size: 14px;">23453</b><br><span style="font-size: 10px;">2022-12-28</span></ion-label>
          <ion-label style="text-align: right; margin: 0;"><b style="font-size: 14px;">Test Vendor</b><br><span style="font-size: 10px;">+1-2345-678-90</span></ion-label>
          <ion-label style="text-align: right;">
            <ion-icon name="create-outline" class="icon"></ion-icon>
          </ion-label>
         
        </ion-item>
  
        <ion-item>
          
          <ion-label><b style="font-size: 14px;">23453</b><br><span style="font-size: 10px;">2022-12-28</span></ion-label>
          <ion-label style="text-align: right; margin: 0;"><b style="font-size: 14px;">Test Vendor</b><br><span style="font-size: 10px;">+1-2345-678-90</span></ion-label>
          <ion-label style="text-align: right;">
            <ion-icon name="eye-outline" class="icon"></ion-icon>
          </ion-label>
          
          
        </ion-item>
  
        <ion-item>
          <ion-label><b style="font-size: 14px;">23453</b><br><span style="font-size: 10px;">2022-12-28</span></ion-label>
          <ion-label style="text-align: right; margin: 0;"><b style="font-size: 14px;">Test Vendor</b><br><span style="font-size: 10px;">+1-2345-678-90</span></ion-label>
          <ion-label style="text-align: right;">
            <ion-icon name="create-outline" class="icon"></ion-icon>
          </ion-label>
          
        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row class="row-headingplus">
    <ion-col size="4" *ngIf="env.APP_LANG == 'en'"><b>{{ 'INVOICE.totaltaxablevalue' | translate }}</b><span><br>SAR {{env.languageParseNumbers(totalSumAmount - totalVat | number: '1.2-2')}}</span></ion-col>
    <ion-col size="4" *ngIf="env.APP_LANG == 'ar'"><b>{{ 'INVOICE.totaltaxablevalue' | translate }}</b><span><br>SAR {{env.languageParseNumbers(totalSumAmount - totalVat | number: '1.2-2')}}</span></ion-col>
    
    <ion-col size="4" *ngIf="env.APP_LANG == 'en'" class="ion-text-center"><b>Total Paid Tax</b><span><br>SAR {{env.languageParseNumbers(totalVat | number: '1.2-2')}}</span></ion-col>
    <ion-col size="4" *ngIf="env.APP_LANG == 'ar'" class="ion-text-center"><b>{{ 'VENDOR.totalpaidtax' | translate }}</b><span><br>SAR {{env.languageParseNumbers(totalVat | number: '1.2-2')}}</span></ion-col>
    
    <ion-col size="4" *ngIf="env.APP_LANG == 'en'" class="ion-text-right"><b>{{ 'INVOICE.totalamount' | translate }}</b><span><br> {{env.languageParseNumbers(totalSumAmount | number: '1.2-2')}}</span></ion-col>
    <ion-col size="4" *ngIf="env.APP_LANG == 'ar'" class="ion-text-left"><b>{{ 'INVOICE.totalamount' | translate }}</b><span><br> {{env.languageParseNumbers(totalSumAmount | number: '1.2-2')}}</span></ion-col>
  </ion-row>
</ion-footer>
  
    
  
