.purchaseorder span{
	color:var(--ion-color-plusprimary, #006C35);
	font-size:30px;
}
.po-details{
	background:var(--ion-color-plusprimary-contrast, #f4f8fb);
	border-radius:8px;
    
}
.greenback{
	background:var(--ion-color-plusprimary, #006C35);
	border-radius:8px 8px 0 0;
    color: #ffffff;
}
ion-searchbar div.searchbar-input {
    border-radius: 8px !important;
}
.sc-ion-searchbar-md-h {
    border-radius: 8px !important;
}
.customer-search .searchbar-input-container .searchbar-input {
    border-radius: 8px;
}
.customer-search .searchbar-input {
    border-radius: 8px;
}
.potabs
{
	display:flex !important;	
}
.potabs p {
	//padding: 8px 30px;
	//background:var( --ion-color-light-shade, #d7d8da);
	margin-left: 0.3%;
	border-radius: 8px;
    font-size: 14px;
	margin:0 2px;
}

.potabs .selected {
    background-color: #006C35 !important;
    color: #ffffff;
}
.customdate  {
	width: 125px;
    border: 1px solid;
    border-radius: 3px;
    height: 31px;
	margin-bottom: 15px;
}
.addinvoice {
    background-color: #ffffff !important;
}
.borderbottom p{
	font-size:14px;
}
.borderbottom{
	border-bottom:1px solid var(--ion-color-light-shade, #d7d8da);
}

.row-headingplus{
	background:var(--ion-color-plusprimary, #006C35);
	font-size: 14px;
	color:var(--ion-color-plusprimary-contrast, #ffffff);
	padding: 4px 16px;
}
.row-headingplus{
	background:var(--ion-color-plusprimary, #006C35);
	color:var(--ion-color-light-tint, #CCE2D7);
	font-size: 13px !important;
    /* text-transform: uppercase; */
	 bottom: 0px;
	padding: 4px 20px;
	
	
}
.row-headingplus span {
	font-size:12px !important;
	color:var(--ion-color-plusprimary-contrast, #ffffff) !important;
}
.add-invoice-btn {
	width: 30px;
	height: 30px;
}
.invoice {
	/* margin-left: 10px; */
	color: #006C35;
    font-size: 30px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.searchbar-input.sc-ion-searchbar-ios {
   font-size: 13px;
}
.icon {
	color: #006C35;
}
.potabs
{
	display:flex !important;	
}




.potabs div{
	padding: 5px 25px;
	background:var( --ion-color-light-shade, #d7d8da);
	margin-left: 0.3%;
	border-radius: 8px;
	margin:0 2px;
}


.potabs div p{
    font-size: 14px;
}
div.potabs div:first-child.All_selected,
div.potabs div:nth-child(2).Complete_selected,
div.potabs div:nth-child(3).Pending_selected
{
	background:var(--ion-color-plusprimary, #006C35);
	position:relative;
	color:var(--ion-color-plusprimary-contrast, #ffffff);
}

.quick_finish {
	padding-left: 24px;
	
}

.poborder {
	margin-right: 15px;
}